<div class="container-fluid" *ngIf="DataLists">
  <div class="row">
    <div class="col-6">
      <h2 class="page-title">{{ pageTitle }}</h2>
    </div>
    <div class="col-6">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">
            {{ pageTitle }}
          </li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="row info-container">
    <button
      type="button"
      triggers="mouseenter:mouseleave"
      mat-icon-button
      class="info-btn text-white"
      [ngbPopover]="projectContent"
    >
      <mat-icon fontSet="material-icons-outlined">info</mat-icon>
    </button>
    <ng-template #projectContent>
      <div [innerHTML]="helpText.ldProject"></div>
    </ng-template>
    <div class="col-xl-3 col-md-6 mb-4">
      <app-project-category
        *ngIf="lotteryProjectsData"
        chartTitle="Total Projects"
        [data]="lotteryProjectsData"
      ></app-project-category>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
      <app-project-category
        *ngIf="lotterySVProjectsData"
        chartTitle="Service Delivery Projects"
        [data]="lotterySVProjectsData"
      ></app-project-category>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
      <app-project-category
        *ngIf="lotterySDProjectsData"
        chartTitle="System Delivery Projects"
        [data]="lotterySDProjectsData"
      ></app-project-category>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
      <app-project-category
        *ngIf="lotteryPlannedProjectsData"
        chartTitle="R&D Projects"
        [data]="lotteryPlannedProjectsData"
      ></app-project-category>
    </div>
  </div>

  <div class="row info-container">
    <button
      type="button"
      triggers="mouseenter:mouseleave"
      mat-icon-button
      class="info-btn"
      [ngbPopover]="budgetContent"
      placement="right"
    >
      <mat-icon fontSet="material-icons-outlined">info</mat-icon>
    </button>
    <ng-template #budgetContent>
      <div [innerHTML]="helpText.ldBudget"></div>
    </ng-template>
    <div class="col-xl-4 col-md-5 mb-4">
      <app-budget-chart
        chartTitle="Lottery Budget"
        [data]="totalBudgetData"
        height="250"
        [radius]="'60%'"
      ></app-budget-chart>
    </div>
    <div class="col-xl-8 col-md-7 mb-4">
      <app-budget-bar-chart
        chartTitle="Lottery Budget Portfolio"
        [seriesData]="budgetSeriesData"
        yAxisName=""
        [xAxisData]="xAxisData"
      ></app-budget-bar-chart>
    </div>
  </div>

  <div class="row info-container">
    <button
      type="button"
      triggers="mouseenter:mouseleave"
      mat-icon-button
      class="info-btn"
      [ngbPopover]="forecastContent"
    >
      <mat-icon fontSet="material-icons-outlined">info</mat-icon>
    </button>
    <ng-template #forecastContent>
      <div [innerHTML]="helpText.ldForecast"></div>
    </ng-template>
    <div class="col-12 mb-4">
      <app-forecast-chart
        *ngIf="forecastSeriesData"
        [seriesData]="forecastSeriesData"
        yAxisName=""
        [xAxisData]="forecastLegend"
        [gridLeft]="'10%'"
        chartTitle="Lottery"
      ></app-forecast-chart>
    </div>
  </div>

  <div class="row info-container">
    <button
      type="button"
      triggers="mouseenter:mouseleave"
      mat-icon-button
      class="info-btn"
      [ngbPopover]="ragContent"
    >
      <mat-icon fontSet="material-icons-outlined">info</mat-icon>
    </button>
    <ng-template #ragContent>
      <div [innerHTML]="helpText.ldRAG"></div>
    </ng-template>
    <div class="col-md-4 mb-4">
      <!-- (onChartEvent)="chartEvent($event)" -->
      <app-budget-chart
        chartTitle="Lottery Projects RAG Status"
        [data]="totalRiskData"
        [labelFormatter]="'{c}'"
        [totalText]="false"
        [color]="[
          'rgba(255,91,86,0.85)',
          'rgba(245,156,26,0.85)',
          'rgba(0,191,165,0.85)'
        ]"
        height="250"
      ></app-budget-chart>
    </div>
    <div class="col-md-8 mb-4">
      <app-budget-bar-chart
        chartTitle="Lottery Projects Risk Profile"
        [seriesData]="riskProfileData"
        [labelFormatter]="'{c}'"
        [yAxisFormat]="'{value}'"
        [color]="[
          'rgba(255,91,86,0.85)',
          'rgba(245,156,26,0.85)',
          'rgba(0,191,165,0.85)'
        ]"
        yAxisName="No. of Projects"
        [xAxisData]="xAxisData"
      ></app-budget-bar-chart>
    </div>
  </div>

  <div class="row info-container">
    <button
      type="button"
      triggers="mouseenter:mouseleave"
      mat-icon-button
      class="info-btn"
      [ngbPopover]="goLiveContent"
    >
      <mat-icon fontSet="material-icons-outlined">info</mat-icon>
    </button>
    <ng-template #goLiveContent>
      <div [innerHTML]="helpText.ldGoLive"></div>
    </ng-template>
    <div class="col-12" *ngIf="calendarData">
      <lib-calender
        [scheduleData]="calendarData"
        [calendarTitle]="'Lottery Projects Go-Live Calendar'"
        [ragFilter]="true"
        [businessFilter]="'BusinessTypeCode|BUSINESS_TYPE'"
      ></lib-calender>
    </div>
  </div>
</div>
