<div class="container-fluid" *ngIf="DataLists">
  <div class="row">
    <div class="col-md-6">
      <h2 class="page-title">{{ pageTitle }}</h2>
    </div>
    <div class="col-md-6">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">
            {{ pageTitle }}
          </li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="row info-container">
    <button
      type="button"
      triggers="mouseenter:mouseleave"
      mat-icon-button
      class="info-btn text-white"
      [ngbPopover]="projectContent"
    >
      <mat-icon fontSet="material-icons-outlined">info</mat-icon>
    </button>
    <ng-template #projectContent>
      <div [innerHTML]="helpText.lrdProject"></div>
    </ng-template>
    <div class="col-md-4">
      <app-project-category
        chartTitle="Total Projects"
        [data]="lotteryProjectsData"
        height="200"
      ></app-project-category>
    </div>
    <div class="col-md-4">
      <app-budget-chart
        chartTitle="Total Budget"
        [data]="totalBudgetData"
      ></app-budget-chart>
    </div>
    <div class="col-md-4">
      <app-budget-chart
        chartTitle="RAG Status"
        [data]="totalRiskData"
        [labelFormatter]="'{c}'"
        [totalText]="false"
        [color]="[
          'rgba(255,91,86,0.85)',
          'rgba(245,156,26,0.85)',
          'rgba(0,191,165,0.85)'
        ]"
      ></app-budget-chart>
    </div>
  </div>

  <div class="row mt-4 info-container">
    <button
      type="button"
      triggers="mouseenter:mouseleave"
      mat-icon-button
      class="info-btn"
      [ngbPopover]="projectListContent"
    >
      <mat-icon fontSet="material-icons-outlined">info</mat-icon>
    </button>
    <ng-template #projectListContent>
      <div [innerHTML]="helpText.lrdProjectList"></div>
    </ng-template>
    <div class="col-md-4">
      <app-project-card
        [cardTitle]="'Planned Projects'"
        [projectList]="plannedProjects"
      ></app-project-card>
    </div>
    <div class="col-md-4">
      <app-project-card
        [cardTitle]="'Active Projects'"
        [projectList]="activeProjects"
      ></app-project-card>
    </div>
    <div class="col-md-4">
      <app-project-card
        [cardTitle]="'Completed Projects'"
        [projectList]="closedProjects"
      ></app-project-card>
    </div>
  </div>

  <div class="row mt-4 info-container">
    <button
      type="button"
      triggers="mouseenter:mouseleave"
      mat-icon-button
      class="info-btn"
      [ngbPopover]="goLiveContent"
    >
      <mat-icon fontSet="material-icons-outlined">info</mat-icon>
    </button>
    <ng-template #goLiveContent>
      <div [innerHTML]="helpText.lrdGoLive"></div>
    </ng-template>
    <div class="col-12">
      <!-- <app-go-live-calendar
        [scheduleData]="scheduleData"
        [calendarTitle]="'Go-Live Calendar'"
        [ragFilter]="true"
      ></app-go-live-calendar> -->
      <lib-calender [scheduleData]="scheduleData"
      [calendarTitle]="'Go-Live Calendar'"
      [ragFilter]="true">

      </lib-calender>
    </div>
  </div>
</div>
