<div class="container-fluid" *ngIf="DataLists.length">
  <div class="row">
    <div class="col-md-6">
      <h2 class="page-title">{{ pageTitle }}</h2>
    </div>
    <div class="col-md-6">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">
            {{ pageTitle }}
          </li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="row info-container">
    <button
      type="button"
      mat-icon-button
      class="text-white info-btn"
      triggers="mouseenter:mouseleave"
      [ngbPopover]="projectContent"
    >
      <mat-icon fontSet="material-icons-outlined">info</mat-icon>
    </button>
    <ng-template #projectContent>
      <div [innerHTML]="helpText.pdProject"></div>
    </ng-template>
    <div class="col-xl-3 col-md-6 mb-4">
      <app-project-category
        chartTitle="Total Projects"
        [data]="totalProjectsData"
      ></app-project-category>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
      <app-project-category
        chartTitle="Lottery Projects"
        [data]="lotteryProjectsData"
        info="Lottery Project data originates from RI Clarity and is updated daily. 
        Includes SD, SV, and PD (R&D) business types (excluding Non-Projects)."
      ></app-project-category>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
      <app-project-category
        chartTitle="Casino Projects"
        [data]="casinoProjectsData"
        info="Casino Project data originates from NV PPM and is updated daily. 
        Includes Casino System Deliveries and R&D projects that are within the CTOGL Casino Portfolio."
      ></app-project-category>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
      <app-project-category
        chartTitle="VLT Projects"
        [data]="vltProjectsData"
        info="VLT Project data originates from NV PPM and is updated daily.
        Includes VLT System Delivery, VLT Services, and VLT R&D projects that are within the CTOGL Casino Portfolio."
      ></app-project-category>
    </div>
  </div>

  <div class="row info-container">
    <button
      type="button"
      triggers="mouseenter:mouseleave"
      mat-icon-button
      [ngbPopover]="budgetContent"
      class="info-btn"
    >
      <mat-icon fontSet="material-icons-outlined">info</mat-icon>
    </button>
    <ng-template #budgetContent>
      <div [innerHTML]="helpText.pdBudget"></div>
    </ng-template>
    <div class="col-md-5 mb-4">
      <app-budget-chart
        chartTitle="Portfolio Budget"
        [data]="totalBudgetData"
        height="250"
      ></app-budget-chart>
    </div>
    <div class="col-md-7 mb-4" *ngIf="budgetSeriesData">
      <app-budget-bar-chart
        chartTitle="Budget Portfolio"
        [seriesData]="budgetSeriesData"
        yAxisName=""
        [xAxisData]="budgetXaxis"
      ></app-budget-bar-chart>
    </div>
  </div>

  <div class="row info-container">
    <button
      type="button"
      triggers="mouseenter:mouseleave"
      mat-icon-button
      class="info-btn"
      [ngbPopover]="forecastContent"
    >
      <mat-icon fontSet="material-icons-outlined">info</mat-icon>
    </button>
    <ng-template #forecastContent>
      <div [innerHTML]="helpText.pdForecast"></div>
    </ng-template>
    <div class="col-12 mb-4" *ngIf="forecastSeriesData">
      <app-forecast-chart
        [seriesData]="forecastSeriesData"
        yAxisName=""
        [gridLeft]="'10%'"
      ></app-forecast-chart>
    </div>
  </div>

  <div class="row info-container">
    <button
      type="button"
      triggers="mouseenter:mouseleave"
      mat-icon-button
      class="info-btn"
      [ngbPopover]="ragContent"
    >
      <mat-icon fontSet="material-icons-outlined">info</mat-icon>
    </button>
    <ng-template #ragContent>
      <div [innerHTML]="helpText.pdRAG"></div>
    </ng-template>
    <div class="col-md-5 mb-4">
      <app-budget-chart
        chartTitle="Portfolio Projects RAG Status"
        [data]="totalRiskData"
        [labelFormatter]="'{c}'"
        [color]="['rgba(255,91,86,0.85)', 'rgba(245,156,26,0.85)', '#fcc201']"
        [totalText]="false"
        height="250"
      ></app-budget-chart>
    </div>
    <div class="col-md-7 mb-4">
      <app-budget-bar-chart
        chartTitle="Portfolio Projects Risk Profile"
        [seriesData]="riskProfileData"
        [labelFormatter]="'{c}'"
        [yAxisFormat]="'{value}'"
        [color]="[
          'rgba(255,91,86,0.85)',
          'rgba(245,156,26,0.85)',
          'rgba(0,191,165,0.85)'
        ]"
        yAxisName="No. of Projects"
        [xAxisData]="budgetXaxis"
      ></app-budget-bar-chart>
    </div>
  </div>

  <div class="row info-container">
    <button
      type="button"
      triggers="mouseenter:mouseleave"
      mat-icon-button
      class="info-btn"
      [ngbPopover]="goLiveContent"
    >
      <mat-icon fontSet="material-icons-outlined">info</mat-icon>
    </button>
    <ng-template #goLiveContent>
      <div [innerHTML]="helpText.pdGoLIve"></div>
    </ng-template>
    <div class="col-12" *ngIf="calendarData">
      <app-go-live-calendar
        [scheduleData]="calendarData"
        [calendarTitle]="'Portfolio Projects Go-Live Calendar'"
        [legends]="true"
        [ragFilter]="true"
        [businessFilter]="'vertical|VERTICAL'"
      ></app-go-live-calendar>
    </div>
  </div>
</div>
