// .margin-top-30 {
//     margin-top: 25px;
// }

// .canvasonly{
//     color:black;
//     text-align: justify;
//     text-justify: inter-word;
//     padding:10px;
// }

.d-none {
  width: 100%;
}

.container {
  margin: 20px;
}
#topright {
  position: relative;
  bottom: 30px;
  left: 100px;
}

// .ng-cloak {
//   display: none !important;
// }
