<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <h2 class="page-title mb-1">{{ pageTitle }}</h2>
    </div>
    <div class="col-md-6">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">
            {{ pageTitle }}
          </li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="row info-container">
    <button
      type="button"
      triggers="mouseenter:mouseleave"
      mat-icon-button
      class="info-btn text-white"
      [ngbPopover]="projectContent"
    >
      <mat-icon fontSet="material-icons-outlined">info</mat-icon>
    </button>
    <ng-template #projectContent>
      <div [innerHTML]="helpText.lotGoLive"></div>
    </ng-template>
    <div class="col-12">
      <lib-calender 
      [calendarTitle]="'Lottery Projects Go-Live Calendar'"
      [scheduleData]="calendarData"
      [ragFilter]="true"
      [businessFilter]="'BusinessTypeCode|BUSINESS_TYPE'"></lib-calender>
    </div>
  </div>
</div>
